<h2>Teachers</h2>
<div class="nav-sub-carousel">
    <div class="carousel-container">
        <a [routerLink]="['1']"><img src="../../assets/images/stella.jpg" />
            <div class="middle">
                <div class="text">Stella</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['2']"><img src="../../assets/images/allison.jpg" />
            <div class="middle">
                <div class="text">Allison</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['3']"><img src="../../assets/images/denean.jpg" />
            <div class="middle">
                <div class="text">Denean</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['4']"><img src="../../assets/images/brittany.jpg" />
            <div class="middle">
                <div class="text">Brittany</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['5']"><img src="../../assets/images/stephanie.jpg" />
            <div class="middle">
                <div class="text">Stephanie</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['6']"><img src="../../assets/images/steve.jpg" />
            <div class="middle">
                <div class="text">Steve</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['7']"><img src="../../assets/images/ivan.jpg" />
            <div class="middle">
                <div class="text">Ivan</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['8']"><img src="../../assets/images/fatima.jpg" />
            <div class="middle">
                <div class="text">Fatima</div>
            </div>
        </a>
    </div>
    <div class="carousel-container">
        <a [routerLink]="['9']"><img src="../../assets/images/jeff.jpg" />
            <div class="middle">
                <div class="text">Jeff</div>
            </div>
        </a>
    </div>
</div>


<router-outlet></router-outlet>