<div class="body-content">
    <h3>A Few Words About Us</h3>
    <div class="VVLG">
        <img class="FL mR10" src="../../assets/images/piano1.jpg" />
        <p>
            We are a music school that offers comprehensive instruction in both theory and practice. You can also get private lessons, including private lessons from an Academy teacher right in your own home. All ages, from small children to senior citizens, are welcomed and taught if they wish to learn music. Whether you are a beginner, intermediate, or advanced music student, Orange County Music School School can help you become better.
        </p>
        <p>
        Recitals and concerts are held at least twice a year to provide students with confidence-building performance experience. Theory classes are taught in preparation for exams of all levels concerning theory, history, harmony, counterpoint, and analysis. Full training is offered in repertoire, composition, performance technique, ear training, and sight-reading to prepare classical students for the Certificate of Merit Exam.
        </p>
    </div>

    <h3>What We Offer</h3>
    <div> 
        <div class="tile-content tile-small">
            <span class="tile-content-title">Piano</span>
            <img class="tile-img" src="../../assets/images/pianoKeys.jpg"/>
        </div>
        <div class="tile-content tile-small">
            <span class="tile-content-title">Guitar</span>
            <img class="tile-img" src="../../assets/images/guitar.jpg"/>
        </div>
        <div class="tile-content tile-small">
            <span class="tile-content-title">Violin</span>
            <img class="tile-img" src="../../assets/images/violin.jpg"/>
        </div>
    </div>

    <h3>Group Lessons</h3>
    <div class="VVLG">
        <img class="FL mR10" src="../../assets/images/groupLessons.jpg" />
        <p>
        A group setting provides excitement, friends, and inspiration during the first 2-3 difficult years of piano/keyboard lessons. After completing the class, we encourage students to continue private lessons with the instructor of their choice.
        </p>
    </div>
    <h4>Benefits Include:</h4>
    <h5>Listening</h5>
    <p>Playing music in a group helps students learn to listen and stay together with the group.</p>

    <h5>Rhythm</h5>
    <p>Working in a group helps students strengthen rhythm skills.</p>

    <h5>Solfege</h5>
    <p>When we sing the solfege (do, re, mi) syllables while reading notes or playing the keyboard, we develop a strong sense of tonality and relative pitch.</p>

    <h5>Reading</h5>
    <p>Reading music is a separate activity from performing on the keyboard, and includes using tools such as music flash cards and "secret" ways of learning the notes that make it fun and easy.</p>

    <h5>Performing</h5>
    <p>Students perform every piece by memory in front of the class, thus preparing to perform in the recitals at an early age.</p>

</div>