<div class="main-content">
	<div class="left-nav col-lg-2 col-md-2 col-sm-2">
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['gallery']">GALLERY</a>
			</div>
		</div>
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['about']">ABOUT</a>
			</div>
		</div>
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['faq']">FAQ/RESOURCES</a>
			</div>
		</div>
	</div>
	<div class="center-content col-lg-8 col-md-8 col-sm-8">
		<!--<h1>
			{{title}}
		</h1>
		<alert type="danger">hello</alert>-->
		
		<!--<ul>
			<li *ngFor="let teacher of teachers | async">
			{{ teacher | json }}
			</li>
		</ul>-->

		<router-outlet></router-outlet>


	</div>
	<div class="right-nav col-lg-2 col-md-2 col-sm-2">
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['teachers']">TEACHERS</a>
			</div>
		</div>
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['testimonials']">TESTIMONIALS</a>
			</div>
		</div>
		<div class="tile">
			<div class="tile-title">
				<a [routerLink]="['contact']">CONTACT</a>
			</div>
		</div>
	</div>
</div>